<!DOCTYPE html>
<html>
<head>
    <title>People</title>
    
    <meta charset="utf-8">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="app/css/style.css">

    <link rel="stylesheet" href="app/css/bootstrap.min.css">

    <script type="text/javascript" src="app/lib/underscore.js"></script>
    <script type="text/javascript" src="app/lib/backbone.js"></script>
    <script type="text/javascript" src="app/lib/backbone-mediator.js"></script>

    <script type="text/javascript" src="app/Person.js"></script>
    <script type="text/javascript" src="app/PersonCollection.js"></script>

    <script type="text/javascript" src="app/PersonView.js"></script>
    <script type="text/javascript" src="app/PersonItemView.js"></script>
    <script type="text/javascript" src="app/PersonEditView.js"></script>
    <script type="text/javascript" src="app/PersonCollectionView.js"></script>

    <script type="text/javascript" src="app/PageView.js"></script>
    <script type="text/javascript" src="app/TabView.js"></script>

    <script type="text/javascript" src="app/main.js"></script>

    <!--TEMPLATES-->
    <script type="text/html" id="PageView">
        <div class="list_page page"></div>
        <div class="edit_page page hide"></div>
        <div class="preview_page page hide"></div>
    </script>

    <script type="text/html" id="PersonView">
        <table>
            <tr><td>Name<td><td><%%= name %><td></tr>
            <tr><td>Last name<td><td><%%= lastName %><td></tr>
            <tr><td>Skype<td><td><%%= skype %><td></tr>
            <tr><td>Phone<td><td><%%= phone %><td></tr>
            <tr><td>Email<td><td><%%= email %><td></tr>
            <tr><td>Age<td><td><%%= age %><td></tr>
            <tr><td>Sex<td><td><%%= sex %><td></tr>
        </table>
        <button class="save_btn btn">
            <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
        <button class="cancel_btn btn">
            <span class="glyphicon glyphicon-ban-circle danger_text"></span> Cancel
        </button>
        <button class="edit_btn btn">
            <span class="glyphicon glyphicon-pencil warning_text"></span> Edit
        </button>
    </script>
    
    <script type="text/html" id="PersonItemView">
        <td>
            <%%= name %>
        </td>
        <td>
            <button class="preview_btn btn">
                <span class="glyphicon glyphicon glyphicon-eye-open primary_text"></span> View
            </button>
            <button class="edit_btn btn">
                <span class="glyphicon glyphicon-pencil warning_text"></span> Edit
            </button>
            <button class="delete_btn btn">
                <span class="glyphicon glyphicon-remove danger_text"></span> Del
            </button>
        </td>
    </script>

    <script type="text/html" id="PersonEditView">
        <!--<input type="text" class="name" placeholder="name" value="<%%= name %>"/>-->

        <div class="tabs">
            <div class="tab_name tab active">Name</div>
            <div class="tab_contacts tab">Contacts</div>
            <div class="tab_personal tab">Personal</div>
        </div>
        <div class="contents">
            <div class="content_name content">
                Name
                <input type="text" class="name" value="<%%= name %>" placeholder="name">
                Last Name
                <input type="text" class="lastName" value="<%%= lastName %>" placeholder="Last Name">
            </div>
            <div class="content_contacts content hide">
                Skype
                <input type="text" class="skype" value="<%%= skype %>" placeholder="Skype">
                E_mail
                <input type="text" class="email" value="<%%= email %>" placeholder="E_mail">
                Phone
                <input type="text" class="phone" value="<%%= phone %>" placeholder="Phone">
            </div>
            <div class="content_personal content hide">
                Age
                <input type="text" class="age" value="<%%= age %>" placeholder="Age">
                Sex
                <input type="text" class="sex" value="<%%= sex %>" placeholder="Sex">
            </div>
        </div>

        <br>
        <button class="cancel_btn btn">
            <span class="glyphicon glyphicon-ban-circle danger_text"></span> Cancel
        </button>
        <button class="preview_btn btn">
            <span class="glyphicon glyphicon glyphicon-eye-open primary_text"></span> Preview
        </button>
    </script>

    <script type="text/html" id="PersonCollectionView">
        <table class="group_list"></table>
        <button class="add_btn btn">
            <span class="glyphicon glyphicon-plus success_text"></span> Add
        </button>
    </script>

</head>
<body>

<%= yield %>

</body>
</html>
